In [1]:
import sys
import os
import pandas as pd

# Get the directory of the current notebook
notebook_dir = os.path.dirname(os.path.abspath("__file__"))

# Add the parent directory to the system path
sys.path.append(os.path.abspath(os.path.join(notebook_dir, "..")))

In [2]:
from modeling.games import raw_players
from modeling.usage import player_usage, player_usage_deltas
from modeling.rating import player_ratings, player_rating_deltas

fields = ['season', 'week', 'rushYds', 'rushAtt', 'recAtt', 'recCmp', 'recYds']
p_raw = raw_players.access_history({
    'season': 2024,
    'week': 3,
    'team': 'PHI'
})
p_raw[p_raw['playerDisplay'] == 'Saquon Barkley'][fields]

       season  week  rushYds  rushAtt  recAtt  recCmp  recYds
51343    2024     3      147       17       4       4       9
51034    2024     2       95       22       5       4      21
50819    2024     1      109       24       2       2      23

In [3]:
p_usage = player_usage.access_history({
    'season': 2024,
    'week': 3,
    'team': 'PHI',
    'side': 'off'
})
p_usage[p_usage['playerDisplay'] == 'Saquon Barkley'][fields]

   season  week  rushYds  rushAtt  recAtt  recCmp  recYds
0    2024     3    147.0     17.0     4.0     4.0     9.0
0    2024     2     95.0     22.0     5.0     4.0    21.0
0    2024     1    109.0     24.0     2.0     2.0    23.0

In [4]:
p_usage_delta = player_usage_deltas.access_history({
    'season': 2024,
    'week': 3,
    'team': 'PHI',
    'side': 'off'
})

p_usage_delta[p_usage_delta['playerDisplay'] == 'Saquon Barkley'][fields]

   season  week     rushYds    rushAtt    recAtt    recCmp  recYds
4    2024     3  132.000000  11.000000  2.500000  3.000000     1.0
4    2024     2   25.000000   2.000000  3.000000  3.000000    12.0
4    2024     1   42.451613   8.548387 -0.935484 -0.548387     6.0

In [5]:

r_raw = player_ratings.access_history({
    'season': 2024,
    'week': 3,
    'team': 'PHI',
    'side': 'off'
})
r_raw[r_raw['playerDisplay'] == 'Saquon Barkley']

  role group      rating   playerDisplay  season  week team
4  rb1    rb  201.986765  Saquon Barkley    2024     3  PHI
4  rb1    rb  114.489394  Saquon Barkley    2024     2  PHI
4  rb1    rb  137.483333  Saquon Barkley    2024     1  PHI

In [6]:
r_delta = player_rating_deltas.access_history({
    'season': 2024,
    'week': 3,
    'team': 'PHI',
    'side': 'off'
})
r_delta[r_delta['playerDisplay'] == 'Saquon Barkley']

  role group      rating   playerDisplay  season  week team
4  rb1    rb  172.553431  Saquon Barkley    2024     3  PHI
4  rb1    rb   27.843561  Saquon Barkley    2024     2  PHI
4  rb1    rb   50.689242  Saquon Barkley    2024     1  PHI