In [1]:
import sys
import os

# Get the directory of the current notebook
notebook_dir = os.path.dirname(os.path.abspath("__file__"))

# Add the parent directory to the system path
sys.path.append(os.path.join(notebook_dir, ".."))

from modeling.games import raw_players
from modeling.usage import player_usage, player_usage_deltas
from modeling.rating import player_ratings, player_rating_deltas

fields = ['season', 'week', 'rushYds', 'rushAtt', 'recAtt', 'recCmp', 'recYds']
p_raw = raw_players.access_history({
    'season': 2024,
    'week': 3,
    'team': 'PHI'
})
p_raw[p_raw['playerDisplay'] == 'Saquon Barkley'][fields]

       season  week  rushYds  rushAtt  recAtt  recCmp  recYds
51394    2024     3      147       17       4       4       9
51085    2024     2       95       22       5       4      21
50869    2024     1      109       24       2       2      23

In [2]:
p_usage = player_usage.access_history({
    'season': 2024,
    'week': 3,
    'team': 'PHI',
    'side': 'off'
})
p_usage[p_usage['playerDisplay'] == 'Saquon Barkley'][fields]

   season  week  rushYds  rushAtt  recAtt  recCmp  recYds
0    2024     3    147.0     17.0     4.0     4.0     9.0
0    2024     2     95.0     22.0     5.0     4.0    21.0
0    2024     1    109.0     24.0     2.0     2.0    23.0

In [3]:
p_usage_delta = player_usage_deltas.access_history({
    'season': 2024,
    'week': 3,
    'team': 'PHI',
    'side': 'off'
})

p_usage_delta[p_usage_delta['playerDisplay'] == 'Saquon Barkley'][fields]

using across

   season  week     rushYds    rushAtt    recAtt    recCmp     recYds
3    2024     3  125.000000  10.500000  1.500000  2.000000  -5.500000
3    2024     2   25.000000   2.000000  3.000000  3.000000  12.000000
3    2024     1   46.451613   8.774194 -1.129032 -0.645161   4.419355

In [4]:

r_raw = player_ratings.access_history({
    'season': 2024,
    'week': 3,
    'team': 'PHI',
    'side': 'off'
})
r_raw[r_raw['playerDisplay'] == 'Saquon Barkley']

  role      rating   playerDisplay  season  week team
1  rb1  201.986765  Saquon Barkley    2024     3  PHI
1  rb1  114.489394  Saquon Barkley    2024     2  PHI
1  rb1  137.483333  Saquon Barkley    2024     1  PHI

In [5]:
r_delta = player_rating_deltas.access_history({
    'season': 2024,
    'week': 3,
    'team': 'PHI',
    'side': 'off'
})
r_delta[r_delta['playerDisplay'] == 'Saquon Barkley']

  role   playerDisplay      rating  season team  week
3  rb1  Saquon Barkley  162.178431    2024  PHI     3
3  rb1  Saquon Barkley   27.843561    2024  PHI     2
3  rb1  Saquon Barkley   56.125723    2024  PHI     1