In [1]:
from rating import get_rating_df

rating_df = get_rating_df()

In [2]:
rating_df[(rating_df['side'] == 'def') & (rating_df['role'] == 'qb1')]\
    .sort_values(by=['rating'], ascending=False)

      side role      rating  season  week team
38796  def  qb1  400.838710    2018     1  BAL
20244  def  qb1  347.919355    2021     2   SD
32760  def  qb1  344.806452    2019     1  ATL
20424  def  qb1  294.838710    2021     1   SD
13992  def  qb1  278.032258    2022     1   SF
...    ...  ...         ...     ...   ...  ...
38844  def  qb1 -197.064516    2018     1   NO
26460  def  qb1 -197.483871    2020     2  SEA
38832  def  qb1 -238.838710    2018     1   TB
38484  def  qb1 -239.419355    2018     2   TB
7476   def  qb1 -251.935484    2023     1   SD

[3633 rows x 6 columns]

In [9]:
import pandas as pd
from stats import stats_roles, get_role_week

def _compare_teams(team1_df, team2_df):
    off_df = team1_df[team1_df['side'] == 'off'].reset_index().set_index('role')
    def_df = team2_df[team2_df['side'] == 'def'].reset_index().set_index('role')
    
    return {
        role : off_df.loc[role]['rating'] - def_df.loc[role]['rating'] for role in stats_roles
    }

alias = {
    'NYG': 'NYG',
    'DAL': 'DAL',
    'NO': 'NO',
    'ATL': 'ATL',
    'LAR': 'STL',
    'CHI': 'CHI',
    'MIN': 'MIN',
    'GB': 'GB',
    'PIT': 'PIT',
    'IND': 'IND',
    'DEN': 'DEN',
    'NYJ': 'NYJ',
    'PHI': 'PHI',
    'TB': 'TB',
    'CIN': 'CIN',
    'CAR': 'CAR',
    'JAX': 'JAX',
    'HOU': 'HOU',
    'WSH': 'WSH',
    'ARI': 'ARI',
    'NE': 'NE',
    'SF': 'SF',
    'CLE': 'CLE',
    'LV': 'OAK',
    'KC': 'KC',
    'LAC': 'SD',
    'BUF': 'BUF',
    'BAL': 'BAL',
    'TEN': 'TEN',
    'MIA': 'MIA',
    'SEA': 'SEA',
    'DET': 'DET'
}

def compare_teams(season, week, team1, team2, show_vs=False):
    rating_df = get_rating_df()
    
    team1_alias = alias[team1] if team1 in alias else team1
    team2_alias = alias[team2] if team2 in alias else team2

    week_df = rating_df[(rating_df['season'] == season) & (rating_df['week'] == week)]
    
    team1_df = week_df[week_df['team'] == team1_alias]
    if len(team1_df.index) == 0:
        print('==========')
        print(rating_df[(rating_df['season'] == season)])
        print('----------')
        print(week_df['team'])
        raise Exception(f"Can not find: {team1} > {team1_alias}")
    team2_df = week_df[week_df['team'] == team2_alias]
    if len(team2_df.index) == 0:
        raise Exception(f"Can not find: {team2} > {team2_alias}")
    
    team1_res = _compare_teams(team1_df, team2_df)
    team1_res['rating'] = sum(team1_res.values()) 
    team1_res['team'] = team1
    if show_vs:
        team1_res['vs'] = team2
    
    team2_res = _compare_teams(team2_df, team1_df)
    team2_res['rating'] = sum(team2_res.values()) 
    team2_res['team'] = team2
    if show_vs:
        team2_res['vs'] = team1
    
    return pd.DataFrame([team1_res, team2_res])

schedule = [
    {
        'home': 'NYG',
        'away': 'DAL'
    },{
        'home': 'NO',
        'away': 'ATL'
    },{
        'home': 'LAR',
        'away': 'CHI'
    },{
        'home': 'MIN',
        'away': 'GB'
    },{
        'home': 'PIT',
        'away': 'IND'
    },{
        'home': 'DEN',
        'away': 'NYJ'
    },{
        'home': 'PHI',
        'away': 'TB'
    },{
        'home': 'CIN',
        'away': 'CAR'
    },{
        'home': 'JAX',
        'away': 'HOU'
    },{
        'home': 'WSH',
        'away': 'ARI'
    },{
        'home': 'NE',
        'away': 'SF'
    },{
        'home': 'CLE',
        'away': 'LV'
    },{
        'home': 'KC',
        'away': 'LAC'
    },{
        'home': 'BUF',
        'away': 'BAL'
    },{
        'home': 'TEN',
        'away': 'MIA'
    },{
        'home': 'SEA',
        'away': 'DET'
    }
]

def compare_week(season, week):
    return pd.concat([
        compare_teams(season, week, game['home'], game['away']) for game in schedule
    ])

comparisions = compare_week(2024, 3)

def sort_and_return(df, role):
    rtn = df.sort_values(by=[role], ascending=False).head(3)
    
    rtn.style.format(precision=2)

    return rtn.to_markdown()

print('--qb1--')
print(sort_and_return(comparisions, 'qb1'))

print('--rb1--')
print(sort_and_return(comparisions, 'rb1'))

print('--rb2--')
print(sort_and_return(comparisions, 'rb2'))

print('--wr1--')
print(sort_and_return(comparisions, 'wr1'))

print('--wr2--')
print(sort_and_return(comparisions, 'wr2'))

print('--wr3--')
print(sort_and_return(comparisions, 'wr3'))

--qb1--
|    |      wr1 |     wr2 |     wr3 |     rb1 |      rb2 |     qb1 |    rank | team   |
|---:|---------:|--------:|--------:|--------:|---------:|--------:|--------:|:-------|
|  0 |  85.7447 | 82.2868 | 65.8441 | 77.8833 |  23.8728 | 228.779 | 564.41  | PIT    |
|  0 |  84.9585 | 85.6637 | 30.5622 | 27.9117 | -17.9709 | 214.847 | 425.973 | BUF    |
|  1 | 131.432  | 23.7611 | 56.6405 | 52.0055 |  47.4079 | 193.135 | 504.382 | ARI    |
--rb1--
|    |       wr1 |     wr2 |      wr3 |     rb1 |      rb2 |        qb1 |     rank | team   |
|---:|----------:|--------:|---------:|--------:|---------:|-----------:|---------:|:-------|
|  1 | -22.5542  | 98.8507 | -6.24731 | 85.6684 | -90.9032 |   6.65143  |  71.4658 | BAL    |
|  0 |  85.7447  | 82.2868 | 65.8441  | 77.8833 |  23.8728 | 228.779    | 564.41   | PIT    |
|  0 |   6.50887 | 49.8581 |  6.45084 | 77.1385 | -15.797  |  -0.143714 | 124.016  | NYG    |
--rb2--
|    |      wr1 |      wr2 |     wr3 |      rb1 |     rb2 |      qb1 |    rank | team   |
|---:|---------:|---------:|--------:|---------:|--------:|---------:|--------:|:-------|
|  0 |  90.6334 | -9.04992 | 39.9353 |  60.709  | 95.2681 | 150.057  | 427.553 | CLE    |
|  0 | -21.2204 | -3.50083 | 20.6532 |  52.8444 | 73.3773 | -19.1095 | 103.044 | WSH    |
|  1 |  46.0643 | 46.3487  | 41.2452 | -51.1227 | 71.8911 |  63.299  | 217.726 | DET    |
--wr1--
|    |     wr1 |     wr2 |     wr3 |     rb1 |      rb2 |      qb1 |    rank | team   |
|---:|--------:|--------:|--------:|--------:|---------:|---------:|--------:|:-------|
|  1 | 131.432 | 23.7611 | 56.6405 | 52.0055 | 47.4079  | 193.135  | 504.382 | ARI    |
|  1 | 125.354 | 97.8154 | 14.5535 | 40.6892 | 49.3091  |  96.4025 | 424.124 | CHI    |
|  1 | 102.208 | 86.6753 | 50.9807 | 14.297  |  7.69892 | 186.538  | 448.398 | HOU    |
--wr2--
|    |     wr1 |      wr2 |      wr3 |      rb1 |     rb2 |     qb1 |    rank | team   |
|---:|--------:|---------:|---------:|---------:|--------:|--------:|--------:|:-------|
|  1 | 39.5103 | 113.554  | 20.6344  | -38.6838 | 55.7012 | 122.236 | 312.952 | ATL    |
|  1 | 79.9869 | 107.906  |  2.24194 |  42.3621 | 21.7043 | 191.006 | 445.207 | SF     |
|  1 | 68.2459 |  99.6102 | 90.6728  | -25.5108 | 40.2366 | 112.93  | 386.184 | GB     |
--wr3--
|    |     wr1 |      wr2 |      wr3 |      rb1 |       rb2 |      qb1 |    rank | team   |
|---:|--------:|---------:|---------:|---------:|----------:|---------:|--------:|:-------|
|  0 | 55.3346 | 30.9712  | 100.554  |  38.2554 |  -7.75192 |  83.4611 | 300.825 | JAX    |
|  1 | 68.2459 | 99.6102  |  90.6728 | -25.5108 |  40.2366  | 112.93   | 386.184 | GB     |
|  0 | 52.4469 |  5.32661 |  88.0973 |  27.6282 | -26.9301  | 129.54   | 276.109 | KC     |

In [10]:
from stats import get_game_df

def run_week(season, week):
    games_df = get_game_df()

    week_df = games_df[
        (games_df['season'] == season) & 
        (games_df['week'] == week)
    ]

    for i, row in week_df[['homeTeamDisplay', 'homeScore', 'awayTeamDisplay', 'awayScore']].iterrows():
        print(f"{row['homeTeamDisplay']} ({row['homeScore']}) v {row['awayTeamDisplay']} ({row['awayScore']})")
        print(compare_teams(season, week, row['homeTeamDisplay'], row['awayTeamDisplay']).to_markdown())

run_week(2024, 2)

BAL (23) v OAK (26)
|    |      wr1 |      wr2 |     wr3 |      rb1 |       rb2 |       qb1 |    rank | team   |
|---:|---------:|---------:|--------:|---------:|----------:|----------:|--------:|:-------|
|  0 |  65.1328 | -36.1647 | 59.4332 |  43.8871 | 122.161   |   3.80197 | 258.252 | BAL    |
|  1 | 101.136  |  65.8309 | 45.2005 | -14.795  |   5.28495 | 153.069   | 355.727 | OAK    |
JAX (13) v CLE (18)
|    |     wr1 |     wr2 |     wr3 |      rb1 |      rb2 |      qb1 |    rank | team   |
|---:|--------:|--------:|--------:|---------:|---------:|---------:|--------:|:-------|
|  0 | 85.2419 | 48.0484 | 94.2796 |  3.93871 | -10.5484 |  84.5218 | 305.482 | JAX    |
|  1 | 55.7759 | 84.1367 | 50.7068 | 30.7581  |  24.1649 | 146.291  | 391.834 | CLE    |
TEN (17) v NYJ (24)
|    |     wr1 |      wr2 |      wr3 |      rb1 |      rb2 |     qb1 |     rank | team   |
|---:|--------:|---------:|---------:|---------:|---------:|--------:|---------:|:-------|
|  0 | 80.6886 | 21.1419  |  46.5355 |  64.8275 |  6.28495 | 110.679 | 330.157  | TEN    |
|  1 | 11.2841 | -9.08747 | -20.1129 | -15.5699 | 58.2056  |  35.73  |  60.4494 | NYJ    |
MIN (23) v SF (17)
|    |      wr1 |     wr2 |     wr3 |      rb1 |      rb2 |     qb1 |    rank | team   |
|---:|---------:|--------:|--------:|---------:|---------:|--------:|--------:|:-------|
|  0 | 120.558  | 59.164  | 89.2339 | -24.7392 |  55.6183 |  82.25  | 382.085 | MIN    |
|  1 |  67.8207 | 82.6225 | 56.5161 | -70.4698 | -11.4839 | 110.201 | 235.207 | SF     |
CAR (3) v SD (26)
|    |     wr1 |      wr2 |     wr3 |     rb1 |      rb2 |     qb1 |    rank | team   |
|---:|--------:|---------:|--------:|--------:|---------:|--------:|--------:|:-------|
|  0 | 24.7495 | -13.8226 | 56.718  | 37.875  |  2.68817 | 50.0252 | 158.233 | CAR    |
|  1 | 13.4623 |  72.0414 | 36.8011 | 45.4616 | 63.6762  | 68.0492 | 299.492 | SD     |
DEN (6) v PIT (13)
|    |     wr1 |      wr2 |     wr3 |     rb1 |      rb2 |     qb1 |     rank | team   |
|---:|--------:|---------:|--------:|--------:|---------:|--------:|---------:|:-------|
|  0 | 64.2171 | -10.7532 | 15.3425 | 23.736  | -33.2551 | 24.8398 |  84.1271 | DEN    |
|  1 | 17.3116 |  38.1855 | 23.9677 | 52.6386 |  52.2243 | 31.4283 | 215.756  | PIT    |
KC (26) v CIN (25)
|    |       wr1 |      wr2 |     wr3 |     rb1 |     rb2 |      qb1 |     rank | team   |
|---:|----------:|---------:|--------:|--------:|--------:|---------:|---------:|:-------|
|  0 |   6.58333 |  1.66244 | 35.5495 | 84.273  | 17.914  | -55.4594 |  90.5229 | KC     |
|  1 | 110.472   | 25.056   | 25.9839 | 23.4432 | 22.3226 | 176.269  | 383.546  | CIN    |
PHI (21) v ATL (22)
|    |      wr1 |      wr2 |     wr3 |     rb1 |     rb2 |       qb1 |    rank | team   |
|---:|---------:|---------:|--------:|--------:|--------:|----------:|--------:|:-------|
|  0 |  61.1431 | -35.8387 | 23.2883 | 25.2209 | 32.2527 |   3.38936 | 109.456 | PHI    |
|  1 | 122.113  |  92.9846 | 62.8387 | 48.3278 | 83.914  | 170.078   | 580.257 | ATL    |
NE (20) v SEA (23)
|    |     wr1 |     wr2 |      wr3 |      rb1 |      rb2 |      qb1 |    rank | team   |
|---:|--------:|--------:|---------:|---------:|---------:|---------:|--------:|:-------|
|  0 | 71.9495 | 22.0161 | 51.8011  | -62.202  |  86.4409 |  42.2784 | 212.284 | NE     |
|  1 | 81.8452 | 98.8758 | -4.60932 |  37.8626 | -59.2581 | 158.099  | 312.815 | SEA    |
DAL (19) v NO (44)
|    |     wr1 |     wr2 |      wr3 |      rb1 |        rb2 |      qb1 |   rank | team   |
|---:|--------:|--------:|---------:|---------:|-----------:|---------:|-------:|:-------|
|  0 | 53.0381 | 69.0936 |  29.3065 | -78.2984 | 36.4731    |  90.5067 | 200.12 | DAL    |
|  1 | 72.5786 | 81.8871 | -12.2419 |  71.4816 | -0.0229202 | 106.608  | 320.29 | NO     |
WSH (21) v NYG (18)
|    |     wr1 |       wr2 |     wr3 |      rb1 |     rb2 |     qb1 |    rank | team   |
|---:|--------:|----------:|--------:|---------:|--------:|--------:|--------:|:-------|
|  0 | 32.2003 |  0.451613 | 65.3456 | 115.695  | 64.9631 | 130.112 | 408.768 | WSH    |
|  1 | 94.428  | 22.0524   | 45.0323 |  40.4156 | 51.0806 | 116.43  | 369.439 | NYG    |
DET (16) v TB (20)
|    |     wr1 |     wr2 |      wr3 |       rb1 |       rb2 |      qb1 |    rank | team   |
|---:|--------:|--------:|---------:|----------:|----------:|---------:|--------:|:-------|
|  0 | 85.7266 | 27.0806 |  18.4194 | -47.7714  | 36.7517   |  88.0855 | 208.292 | DET    |
|  1 | 98.7769 | 30.5309 | 117.065  |   9.06037 | -0.266129 | 109.802  | 364.968 | TB     |
GB (16) v IND (10)
|    |     wr1 |     wr2 |     wr3 |     rb1 |       rb2 |      qb1 |    rank | team   |
|---:|--------:|--------:|--------:|--------:|----------:|---------:|--------:|:-------|
|  0 | 87.7742 | 56.0177 | 35.1183 | 121.634 |   1.08065 | 212.987  | 514.613 | GB     |
|  1 | 51.119  | 75.1411 | 69.1541 | 111.614 | -45.3226  |  65.7348 | 327.441 | IND    |
ARI (41) v STL (10)
|    |      wr1 |      wr2 |      wr3 |       rb1 |     rb2 |      qb1 |     rank | team   |
|---:|---------:|---------:|---------:|----------:|--------:|---------:|---------:|:-------|
|  0 |  91.1696 | 148.797  | 12.9597  | 92.8243   | 32.553  | 158.336  | 536.64   | ARI    |
|  1 | -71.8584 |  46.2155 | -1.71659 | -0.728879 | 28.2903 | -33.8551 | -33.6531 | STL    |
HOU (19) v CHI (13)
|    |     wr1 |     wr2 |      wr3 |       rb1 |      rb2 |     qb1 |     rank | team   |
|---:|--------:|--------:|---------:|----------:|---------:|--------:|---------:|:-------|
|  0 | 73.809  | 12.1667 | -6.47727 | -125.053  | 19.053   | 53.3504 |  26.8485 | HOU    |
|  1 | 25.7853 | 32.3763 | 99.4118  |   11.2581 | -9.55645 | 83.0464 | 242.321  | CHI    |
MIA (10) v BUF (31)
|    |      wr1 |     wr2 |      wr3 |      rb1 |      rb2 |       qb1 |     rank | team   |
|---:|---------:|--------:|---------:|---------:|---------:|----------:|---------:|:-------|
|  0 | -37.1889 | 65.3344 |  10.129  | 67.4579  | -50.3548 | -77.6828  | -22.3052 | MIA    |
|  1 |  55.8669 | 47.5989 | -13.7554 |  5.36022 |  49.2258 |  -2.18075 | 142.116  | BUF    |

In [7]:
get_role_week(2024, 3, 'ATL', 'wr2')

season                              2024
week                                   3
gameId                         401671793
gameDisplay                    KC vs ATL
gameDate               2024-09-23T00:20Z
teamId                                 1
teamDisplay                          ATL
playerId                         4040655
playerDisplay             Darnell Mooney
playerPosition                        wr
playerPositionGroup             catching
playerPositionNorm                    wr
passCmp                                0
passAtt                                0
passYds                                0
passTd                                 0
passInt                                0
passLong                               0
passRating                             0
passTargetYds                          0
rushAtt                                0
rushYds                                0
rushTd                                 0
rushLong                               0
rushYdsBc                              0
rushYdsAc                              0
rushBrokenTackles                      0
recAtt                                 8
recCmp                                 8
recYds                                66
recTd                                  0
recDrops                               0
recLong                                0
recDepth                               0
recYac                                 0
sacked                                 0
fumbles                                0
fumblesLost                            0
played                                 1
Name: 51511, dtype: object